h1 {
    color: white;
    font-size: 50px;
    font-family: sans-serif;
}
body {
    background-color: black;
    align-content:center;
    padding: 20%;
    padding-top: 50px
}
form {
    color: white
}
h2 {
    color: white
}
.alertme {
    margin: auto;
    width: 70%;
    border: 3px solid White;
    padding: 10px;
}
.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}